<%- include('../partials/html-head') %>
<% if (user.profile._id.toString() === profile._id.toString()) { %>
  <style>
    #profile-dropdown {
      display: none;
    }
  </style>
<% } %>
<%- include('../partials/nav') %>

<main>
  <section class="bg-dark text-secondary px-4 py-5 text-center">
   
      <img
        class="image-rounded" 
        src="<%= profile.avatar %>" 
        alt="<%= profile.name %>'s avatar"
      >

      <img
        src="/images/icons/user.png" 
        alt="A placeholder avatar"
      >
  
    <h1 class="display-5 fw-bold text-white pt-2"><%= profile.name %></h1>
    <div class="container py-4">
      <table class="table table-dark table-striped align-middle">
        <tbody>
          
            <tr>
              <td>Google Email:</td>
              <td><%= user.email %></td>
            </tr>
      
          <tr>
            <td>Name:</td>
            <td><%= profile.name %></td>
          </tr>
          <tr>
            <td>Avatar URL:</td>
            <td>
              <a href="<%= profile.avatar %>">
                <%= profile.avatar.substring(0, 35) %>
         
                ...
             
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
      <a 
        class="btn btn-warning"
        role="button" 
        href="/profiles/<%= profile._id %>/edit"
      >
        Edit Profile
      </a>
      <a 
        class="btn btn-danger ms-4"
        role="button" 
        href="/auth/logout"
      >
        Logout
      </a>
  
      </div>
  </section>
</main>

<%- include('../partials/footer') %>