<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main class="container">
  <form action="/topics" method="POST">
    <h2>
    Post A Topic
    </h2>
    <div class="mb-3 mx-5">
      <label for="title-input" class="form-label">Topic</label>
      <input 
        type="text" 
        class="form-control" 
        id="title-input" 
        placeholder="create A Topic"
				name="title"
      >
    </div>
    <div class="mb-3 mx-5">
      <label for="post-content" class="form-label">Post</label>
      <textarea name="content" class="form-control" id="post-content" rows="5"></textarea>
    </div>
    <button class="btn btn-primary ms-5" type="submit">Create Topic</button>
  </form>
  <h2 class="my-3">Topics</h2>
  <% topics.forEach((topic, idx) => { %>
    <section class="p-4 p-md-5 mb-4 text-white rounded bg-dark mx-4">
      <div class="col-md-8 text-light" px-0>
        <a 
        href="/topics/<%= topic._id %>" 
        class="text-decoration-none text-light"
        >
        <h3 class="fs-1 fst-italic"><%= topic.title %></h3>
      </a>
      <h4 class="mb-0 fs-5 fst-italic">
        written by 
        <a 
        href="/profiles/<%= topic.author._id %>"
        class="text-decoration-none text-light"
        >
        <%= topic.author.name %>
        <form 
          action="/topics/ <%= topics._id %>? _method=DELETE"
          class="delete-form"
          method="POST"
        >
       <button type="submit">DELETE</button>
        </form>
            <img
              src="<%= topic.author.avatar %>"
              class="img-fluid rounded-circle"
              alt="<%= topic.author.name %>'s avatar"
              height="35"
              width="35"
            />
          </a>
          <form 
          action="/topics/ <%= topics._id %>? _method=DELETE"
          class="delete-form"
          method="POST"
        >
       <button type="submit">DELETE</button>
        </form>
        </h4>
        <p class="fs-7 fst-italic">
          on <%= topic.createdAt.toLocaleDateString() %>
        </p>
        <p class="lead my-3"><%= topic.content %> </p>
        <p>
          <a
            class="text-decoration-none text-light"
            href="/topics/<%= topic._id %>"
          >
           Details 
          </a>
        </p>
      </div>
    </section>
  <% }) %>

</main>
<%- include('../partials/footer') %>