<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

</head>
<body>
  <h1><%= topic.title %> </h1>
  <div class="card">
    <img src="#" class="card-img-top" alt="...">
    <div class="card-body">
      <h3 class="card-title"><%= topic.title %></h3>
      <p class="card-text"><%= topic.content %> </p>
      <p class="card-text"><small class="text-muted">Posted By: <%= topic.author.name %></small></p>
      <p class="card-text"><small class="text-muted"><%= topic.date %> </small></p>
        <form  action="/topics/<%= topic._id %>/edit ? _method=DELETE" method="POST">
          <button type="submit">Delete Topic</button>
        </form>
        <a href="/topics/<%= topic._id %>/edit">
          <button type="submit" class="btn btn-primary">Edit</button>
        </a>
    </div>
  </div>
</body>
<%- include('../partials/footer') %>